@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar elegante */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5ede0;
}
::-webkit-scrollbar-thumb {
  background: #d4b483;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b08968;
}
